
.main-culprit{
    border: 10px solid brown;
    background-image: url(./bg1.jpg);
    height: 100%;
    background-size: cover;
}
@media screen and (max-width: 640px) {
    .fflex-wrap{
        flex-direction: column;
    }
    
}

.token{
    border: 2px solid red;
    margin-top: 10px;
    margin-bottom: 00px;
    
}